.about {
  background: #000;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.textBx {
  min-width: 49%;
  width: 49%;
}

.textBx p {
  color: #fff;
}

.imgBx {
  margin-left: 40px;
}
