@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  padding: 100px;
  min-height: 100vh;
}

p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  color: #00bcd4;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
}

.title p {
  max-width: 700px;
  display: inline-block;
}

.title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  height: 4px;
  background: #000;
}

.white h2,
.white p {
  color: #fff;
}

.white h2::before {
  background: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

footer {
  color: #fff;
  background: #111;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 700px) {
  section {
    padding: 40px;
    width: 700px;
  }

  footer {
    width: 700px;
  }
}
