.qualifications {
  background: #000;
}

.content {
  width: 80%;
  margin: auto;
  padding: 10px;
  color: #fff;
}

.subtitleBx {
  display: flex;
  justify-content: center;
}

.subtitleTab {
  cursor: pointer;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.tabContent {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 0.8em;
  column-gap: 50px;
  padding: 50px 0;
  border-radius: 2px;
  color: #fff;
}

.tabChild {
  display: flex;
  justify-content: flex-end;
}

.tabHead h3,
.tabHead p {
  margin: 0;
}

.tabHead h3 {
  font-weight: 500;
}

.tabHead p {
  font-weight: 300;
  margin-bottom: 15px;
}

.active {
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  border-top: thin solid #fff;
  border-left: thin solid #fff;
  border-right: thin solid #fff;
  background: #001;
  border-radius: 3px;
}

.calendar {
  font-weight: 200;
  font-style: italic;
}

.rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50%;
}

.line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #fff;
  transform: translate(6px, -7px);
}

@media (max-width: 768px) {
  .tabContent {
    padding: 50px 0;
  }
}
